*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight:700;
}

.menu-accionable{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn{
    padding: 20px;
    cursor: pointer;
    border: solid 2px;
    border-radius: 4px;
    position: relative;
}

.menu{
    border: solid 2px black;
  /* display: none; este display no permite una animacion */
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.3s ease, transform 0.3s ease;
   transform: translateY(-10px);
   position: absolute;

}

.menu.show{
    margin-top: 6px;
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 80px;
    transform: translateY(0);

}

.options{
   padding: 30px;
   border-top: solid 1px;
}
.music-galery{
    margin: 300px auto 0;
    display: flex;
    align-items: center;

    flex-wrap: nowrap;
    width: 600px;
    height: 300px;
    border: solid 1px black;
}

.albums{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.img{
    width: 200px;
    height: 200px;
}